<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        form{
            width: 400px;
            height: 400px;
        }
    </style>
</head>
<body>
<a class="btn btn-success" th:href="@{'/city/'}" role="button">Back to List</a>
<h1>Create City</h1>
<form th:object="${city}" method="post">
    Name:
    <input type="text" class="form-control" th:field="*{name}">
    <p style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    <br>
    Area:
    <input type="number" class="form-control" th:field="*{landArea}">
    <p style="color: red" th:if="${#fields.hasErrors('landArea')}" th:errors="*{landArea}"></p>
    <br>
    Population:
    <input type="number" class="form-control" th:field="*{population}">
    <p style="color: red" th:if="${#fields.hasErrors('population')}" th:errors="*{population}"></p>
    <br>
    GDP:
    <input type="number" class="form-control" th:field="*{gdp}">
    <p style="color: red" th:if="${#fields.hasErrors('gdp')}" th:errors="*{gdp}"></p>
    <br>
    Description:
    <input type="text" class="form-control" th:field="*{cityDescription}">
    <br>
    National:
    <select  th:field="*{nation}" >
        <th:block th:each="n:${nationList}">
            <option th:value="${n.id}" th:text="${n.name}"></option>
        </th:block>
    </select>
    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="Create">
</form>
</body>
</html>