<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<a class="btn btn-success" th:href="@{'/city/'}" role="button">Back to List</a>
<h1>City Details</h1>
<br>
<dl class="row" th:object="${detail}">
    <dt class="col-sm-2">City Name:</dt>
    <dd class="col-sm-4" th:text="${detail.name}"></dd>
    <dt class="col-sm-2">Nation:</dt>
    <dd class="col-sm-4" th:text="${detail.nation.name}"></dd>
    <dt class="col-sm-2">Area:</dt>
    <dd class="col-sm-4" th:text="${detail.landArea}"></dd>
    <dt class="col-sm-2">Population:</dt>
    <dd class="col-sm-4" th:text="${detail.population}"></dd>
    <dt class="col-sm-2">Description:</dt>
    <dd class="col-sm-4" th:text="${detail.cityDescription}"></dd>
</dl>

<a class="btn btn-info" role="button" th:href="@{'/city/edit/'+${detail.id}}">Edit</a>
<a class="btn btn-danger" role="button" th:href="@{'/city/delete/'+${detail.id}}"
   onclick="return confirm('Are you sure to delete this city ?')">Delete</a>
</body>
</html>